.map-container {
  width: 100%;
  height: 90%;
  position: absolute;
  top: 0px;
  left: 0px;
}

ion-slides {
  --bullet-background-active: #fff;
  --bullet-background: #fff;
}

img {
  border-radius: 8px;
}


ion-fab-button {
  width: 80px;
  height: 45px;
  --border-radius: 40%;
  font-weight: 500;

  ion-icon {
    margin-left: 6px;
  }
}

.notch {
  border-bottom: 1px solid var(--ion-color-step-150);
  text-align: center;
  padding-bottom: 15px;
}

.drawer-pull {
  background: #cccccc;
  height: 4px;
  width: 50px;
  border-radius: 2px;
}

.search-box {
  border-bottom: 1px solid var(--ion-color-step-150);
  background: #fff;
  position: sticky;
  top: 0px;
  z-index: 3;

  padding-top: 40px;
  padding-bottom: 10px;
  transition: 0.5s;

  ion-col {
    display: flex;
    align-items: center;
  }
}

.border-right {
  border-right: 1px solid var(--ion-color-medium);
  padding-right: 15px;
}

.overlay-box {
    transition: 0.5s;
    margin: 20px;
    border-radius: 20px;
    margin-top: 40px;
    font-size: small;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: none;
}
